html {
  height: 100%;
  text-align: center;
  background-color: #000;
  color: #d4d4d4;
  height: 100%;
  font-family: "Lucida Console", Courier, monospace;
}     

body {
  margin: 0;
  height: 100%;
}

#root {
  height:100%;
  display: flex;
  flex-flow: column;
}
